p {
  margin:  0px;
  padding:      5px;
  }
.fieldset {
//	margin: top right bottom left;
	margin: 10px 20px 20px 10px;
	box-shadow: 5px 5px 10px #719696;
	padding: 10px;
    border-spacing: 2px;
    border-collapse: separate;
    }
.fset {
//	margin: top right bottom left;
	margin: 10px 20px 20px 10px;
//	box-shadow: 5px 5px 10px #719696;
	padding: 10px;
    border-spacing: 2px;
    border-collapse: separate;
    }
.mess {
  position: absolute;
  z-index:  100;
  top:      0;
  width:    100%;
  height:   100%;
  background: rgba(0, 0, 0, 0.5);
  }
.wait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  }
.ref {
  color: 			black;
  font-size: 		12pt;
  font-weight: 	bold;
  background-color: aliceblue;
  padding:        3px 10px;
  margin: 5px 5px 5px 5px;
  box-shadow: 5px 5px 10px #719696;
  }
.tok {
//	margin: top right bottom left;
	margin: 10px 20px 20px 10px;
	box-shadow: 5px 5px 10px #719696;
	padding: 2px;
    border-spacing: 2px;
    border-collapse: separate;
    }
.tok td {
		color: 			black;
		font-size: 		14pt;
//		font-weight: 	bold;
		background-color: lightgray;
		padding:        0px 20px;
		}
.tok th {
		color: 			darkblue;
		font-size: 		14pt;
//		font-weight: 	bold;
		background-color: silver;
		padding:        0px 20px;
		}
